.habit-tracker{
    width: 1500px;
    background:url(../images/space.jpg);
}

.flat-earth{
    width: 727px;
    height: 626px;
    margin-bottom: -150px;
    margin-left:404px;
    transform-origin: center bottom;
    background: url(../images/Earth-half.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.elephant-tower {
    display: flex;
    justify-content: center;
}

.tower-column-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
}

.table-cell {
    width: 150px;
    display: flex;
    justify-content: center;
}

.elephant {
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.great-turtle {
    width: 1000px;
    height: 626px;
    margin-top: -240px;
    margin-left:222px;
    background: url(../images/turtle.png);
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}