.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  height: 100px;
  padding: 20px;
}

.circle-wrapper{
  min-width: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-body {
  position: relative;
}

.habbit-header {
  background-color: aquamarine;
  position: absolute;
  transform-origin: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step {
  position: absolute;
  transform-origin: 0 0;
  cursor: pointer;
}

.rightBorder {
  height: 100%;
  position: absolute;
  transform-origin: 100% 100%;
  border-bottom: solid 1px black;
  border-top:  solid 1px black;
  border-right:  solid 1px black;
}

.step-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  position: absolute;
  z-index: 5;
  font-size: small;
}

.leftBorder {
  height: 100%;
  position: absolute;
  border-bottom: solid 1px black;
  border-top:  solid 1px black;
  border-left:  solid 1px black;
  transform-origin: 0 100%;
}

.corner{
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: crimson;
}

.center {
  position: absolute;
  width: 2px;
  height: 2px;
  background: url("../images/vitruvian.png") center;
  background-size:contain;
}