.main-header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: aqua;
}

.navigation-buttons-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    color: aqua;
}

.header-button {
    width: 400px;
    height: 100px;
    border: solid 2px rgb(30, 43, 88);
    border-radius: 40px;
    background-color: rgba(30, 43, 88, 0.8);
    font-size: 40px;
    color: rgb(235, 235, 235);
}